@font-face {
  font-family: '04B30';
  src: url('https://raw.githubusercontent.com/jacksmedia/jacksmedia.github.io/blob/main/fonts/04B30/04B30.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
